.title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #0a500a;
}
.filter-wrapper {
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  background-color: #88a884;
  padding: 8px 8px;
  width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.search-label {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  font-weight: 500;
}
.search-input {
  min-width: 240px;
  width: 304px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  font-size: 18px;
  transition: border-color linear 250ms;
}
.search-input:hover,
.search-input:focus {
  border-color: blue;
}
.search-input::placeholder {
  font-size: 14px;
  color: #3c3c3c;
}
