.card-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f8ff;
  color: #003366;
  border: 1px solid #003366;
  transition: color linear 250ms, background-color linear 250ms, transform 200ms;
}

.card-btn:hover,
.card-btn:focus {
  background-color: #003366;
  color: white;
  border: 1px solid white;
  transform: scale(1.05);
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
