.title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #0a500a;
}
.form {
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  background-color: #88a884;
  padding: 8px;
  width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.label {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input {
  min-width: 240px;
  width: 304px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  font-size: 18px;
  transition: border-color linear 250ms;
}
.input::placeholder {
  font-size: 14px;
  color: #3c3c3c;
}
.input:hover,
.input:focus {
  border-color: blue;
}
.form-btn {
  max-width: 150px;
  padding: 8px 16px;
  margin: 0 auto;
  font-size: 16px;
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  background-color: #fff;
  transition: background-color linear 250ms, color linear 250ms;
}
.form-btn:hover {
  background-color: #3c3c3c;
  color: #fff;
  cursor: pointer;
}
.errorText {
  color: red;
  font-size: 14px;
  font-weight: 300;
  background-color: #f7bfd0;
  border-radius: 5px;
  text-align: center;
}
