.card-list {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.card {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  padding: 8px;
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  background-color: #88a884;
  width: calc((100% - 48px) / 3);
  min-width: 304px;
  transition: border linear 250ms, box-shadow linear 250ms,
    background-color linear 250ms;
}
.card:hover {
  border: 1px solid blue;
  background-color: #c8d5c2;
  box-shadow: 0px 12px 12px 0px #787b7c;
}
